/*  */
* {
 box-sizing: border-box; 
 margin: 0;
 padding: 0;
 font-family: 'Quicksand', sans-serif;
}
.App {
  text-align: center;
}

body {
  background-color: #FFF8F3;
}

.header {
  background-color: rgba(17,20,20,0.9);
  color: white;
  padding: 0.25rem 0;
  position: sticky;
  top: 0;
  z-index: 2000;
}
.edu {
  color: rgba(236,196,136)
}

.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.app-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  margin-top: 0.25rem; 
}
.app-actions.active {
  background-color: rgba(236,196,136,0.8)
}
 #school-search {
   padding: 0.5rem;
   width: 100vw;
   font-size: 1rem;
   text-align: center;
 }
 #choose-school {
  text-align: center;
  padding: 0.5rem;
  width: 90vw;
  animation: flash 1s 2;
 }

.search {
  width: 100vw;
  background-color: #ECC488
}
.btn {
  padding: 0.6rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out all;
}
.btn:hover {
  box-shadow: 0 0 10px white;
}

button.btn[disabled] {
  background-color: #D3D3D3;
  color: black;
  cursor: unset;
}
button.btn[disabled]:hover {
  box-shadow: unset;
}

.btn.data, .btn.new-search {
  width: 40vw;
  background-color: rgba(17,20,20,0.9);
  color: white;
}
.heading {
  background-color: rgba(17,20,20,0.9);
  color: white;
  padding: 0.5rem 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}


.legend-text {
  color: black;
}


.data-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.loading-screen {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}
@keyframes search {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(0);
    color: rgba(236,196,136);
  }
  100% {
    transform: translateX(40px);
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading-screen-search {
  animation: search 3s infinite;
}

.loading-screen-pie {
  z-index: 100;
  animation: search 1s infinite;
}
.loading-screen-bar {
  animation: search 1s infinite reverse;
}
.mb {
  margin-bottom: 2rem;
}
.mt {
  margin-top: 2rem;
}
.mb-sm {
  margin-bottom: 0.5rem;
}
.mt-sm {
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  .data-section {
    grid-template-columns: 1fr;
  }
  .btn.data, .btn.new-search {
    width: 30vw;
    flex: 1;
  }
  #choose-school {
    font-size: 0.75rem;
  }
} 